.products-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 30px;
  padding: 60px 0;
  overflow-x: scroll;
  margin-bottom: 40px;
}

.product-item {
  display: flex;
  flex-direction: column;
  width: 150px;
  border: solid 1px var(--color-border);
  padding: 10px;
  position: relative;
}

.product-picture {
  margin-bottom: 10px;
}

.product-item h3 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 1.3;
}

.product-item::before {
  position: absolute;
  content: "";
  background: url("../img/products/fav.svg");
  height: 20px;
  width: 20px;
  top: 8px;
  left: 8px;
}

.product-item p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  line-height: 1.3;
}

.sale-price {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 1.3;
}

.full-price-discount {
  font-size: 12px;
  font-weight: 300;
  text-decoration: line-through;
  margin-right: 5px;
  margin-bottom: 10px;
}

.full-price-discount::after {
  content: "- 36%";
  background: url("../img/products/discount-flag.svg") no-repeat;
  position: absolute;
  color: var(--color-bg);
  font-weight: 700;
  font-size: 12.5px;
  text-align: center;
  padding: 10px 6px;
  width: 50px;
  height: 30px;
  top: 10px;
  right: -35px;
}

.part-price {
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.3;
}

.product-btn-shop {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: var(--color-bg);
  background-color: var(--color-info-det);
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.product-btn-shop:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.colections {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-content: center;
  margin-bottom: 60px;
}

.mobile {
  display: none;
}

@media (max-width: 1200px) {
  .products-container {
    justify-content: start;
    margin: 20px;
  }
}

@media (max-width: 800px) {
  .colections {
    gap: 20px;
    margin: 20px;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .lg-screen {
    display: none;
  }
  .mobile {
    display: block;
  }

  .products-container {
    justify-content: start;
    margin: 20px;
  }
}

@media (max-width: 340px) {
  .colections {
    margin: 5px;
    gap: 5px;
  }
}
